<template>
  <el-breadcrumb separator="/">
    <el-breadcrumb-item
        v-for="(route, index) in routes"
        :key="index"
        :to="{ path: route.path }"
    >
      {{ route.breadcrumb }}
    </el-breadcrumb-item>
  </el-breadcrumb>
</template>
<script lang="ts">

export default {
  name: "Header",
  props: {
    routes: {
      type: Array,
      default: () => []
    },
    title: {
      type: String,
      default: ''
    }
  }
}
</script>