<template>
  <div class="w-full flex items-center">
    <el-pagination
        background
        layout="prev, pager, next"
        :total="pagination.total"
        :page-size="pagination.page"
        :default-current-page="pagination.current"
        @current-change="change"
    />
    <div class="ml-auto">
      <el-select
          v-model="value"
          class="w-[60px]"
          @change="sizeChange"
      >
        <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
        />
      </el-select>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    pagination: {
      type: Object,
      default: ()=> {}
    },
    change: {
      type: Function,
      default: ()=> {}
    },
    sizeChange: {
      type: Function,
      default: ()=> {}
    }
  },
  data(){
    return {
      options: [
        {
          value: 10,
          label: 10
        },
        {
          value: 20,
          label: 20
        },
        {
          value: 30,
          label: 30
        },
        {
          value: 40,
          label: 40
        },
      ],
      value: 10
    }
  }
}
</script>