<script setup lang="ts">
// definePageMeta({
//   layout: "landing",
// });


const { sayHello } = useUtils();
sayHello();
</script>
<template>
  <Page>
    <NuxtLink to="/" class="n-link-base">
          Home
        </NuxtLink>
    <div>contact</div>
    <IconsBell />
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, fugiat
      modi atque mollitia minima explicabo. Vel laborum ex distinctio earum
      obcaecati et facere voluptate molestias, itaque voluptates pariatur vero!
      Doloribus.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, fugiat
      modi atque mollitia minima explicabo. Vel laborum ex distinctio earum
      obcaecati et facere voluptate molestias, itaque voluptates pariatur vero!
      Doloribus.
    </div><div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, fugiat
      modi atque mollitia minima explicabo. Vel laborum ex distinctio earum
      obcaecati et facere voluptate molestias, itaque voluptates pariatur vero!
      Doloribus.
    </div><div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, fugiat
      modi atque mollitia minima explicabo. Vel laborum ex distinctio earum
      obcaecati et facere voluptate molestias, itaque voluptates pariatur vero!
      Doloribus.
    </div><div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, fugiat
      modi atque mollitia minima explicabo. Vel laborum ex distinctio earum
      obcaecati et facere voluptate molestias, itaque voluptates pariatur vero!
      Doloribus.
    </div><div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, fugiat
      modi atque mollitia minima explicabo. Vel laborum ex distinctio earum
      obcaecati et facere voluptate molestias, itaque voluptates pariatur vero!
      Doloribus.
    </div><div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, fugiat
      modi atque mollitia minima explicabo. Vel laborum ex distinctio earum
      obcaecati et facere voluptate molestias, itaque voluptates pariatur vero!
      Doloribus.
    </div>
  </Page>
</template>
<style lang="scss">
</style>