<template>
  <el-menu
    class="el-menu-vertical"
    background-color="#304156"
    active-text-color="red"
    :collapse="isCollapse"
  >
    <el-sub-menu index="1">
      <template #title>
        <el-icon><icon-menu /></el-icon>
        <span>Navigator One</span>
      </template>
      <el-menu-item-group>
        <el-menu-item index="1-1">
          <nuxt-link :to="{path: '/'}">Home</nuxt-link>
        </el-menu-item>
        <el-menu-item index="1-2">
          <nuxt-link :to="{path: '/contact'}">Contact</nuxt-link>
        </el-menu-item>
      </el-menu-item-group>
      <el-menu-item-group>
        <el-menu-item index="1-3">item three</el-menu-item>
      </el-menu-item-group>
      <el-sub-menu index="1-4">
        <template #title><span>item four</span></template>
        <el-menu-item index="1-4-1">item one</el-menu-item>
      </el-sub-menu>
    </el-sub-menu>
    <el-menu-item index="2">
      <el-icon><icon-menu /></el-icon>
      <template #title>Navigator Two</template>
    </el-menu-item>
    <el-menu-item index="4">
      <el-icon><setting /></el-icon>
      <template #title>Navigator Four</template>
    </el-menu-item>
  </el-menu>
</template>
<script lang="ts" setup>
import { computed } from "vue";
import { useNavbarStore } from "~/stores/navbar";
import {
  Menu as IconMenu,
  Message,
  Setting,
  Expand,
} from "@element-plus/icons-vue";
const state = useNavbarStore();
const isCollapse = computed(() => state.isCollapse);
</script>
<style scoped>
.el-menu-vertical {
    background-color: #304156; 
    color: rgb(191, 203, 217)
}

::v-deep .el-menu-item {
    color: rgb(191, 203, 217)
}

::v-deep .el-sub-menu__title {
    color: rgb(191, 203, 217)
}

::v-deep .el-sub-menu__title:hover {
    background: #263445!important;
}

::v-deep .el-menu-item:hover {
    background: #263445!important;
}

::v-deep .el-menu--inline {
    background-color: #1f2d3d;
}

.el-menu-vertical:not(.el-menu--collapse) {
  width: 211px;
  min-height: 400px;
}

.el-menu--vertical > .el-menu {
    background: red;
}

</style>