<template>
  <svg version="1.1" id="Layer_1" width="100" height="100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
       viewBox="0 0 496 496" xml:space="preserve">
<path style="fill:#08446D;" d="M437.6,120c0-48-12-80-56-80H106.4c-44,0-48,32-48,80H437.6z"/>
    <path style="fill:#00233F;" d="M437.6,120c0-47.2-12-80-56-80H104"/>
    <path style="fill:#19AACC;" d="M65.6,152l56.8,295.2c0,44,36,48.8,80,48.8h90.4c44,0,80-4,80-48.8L430.4,152H65.6z"/>
    <path style="fill:#077E9E;" d="M292.8,496c44,0,80-4,80-48.8L430.4,152H64"/>
    <path style="fill:#E8961F;" d="M336.8,24c-0.8-16-12-24-22.4-24H181.6C170.4,0,160,8,160,24H336.8z"/>
    <path style="fill:#E57510;" d="M336.8,24c0-15.2-12-24-22.4-24H184"/>
    <rect x="64" y="152" style="fill:#E8961F;" width="368" height="56"/>
    <polyline style="fill:#E57510;" points="64,152 432,152 432,208 "/>
    <g>
	<path style="fill:#35C1D8;" d="M192,438.4c0,4.8-7.2,9.6-12,9.6l0,0c-4.8,0-12-4-12-9.6V260c0-4.8,7.2-9.6,12-9.6l0,0
		c4.8,0,12,4,12,9.6V438.4z"/>
      <path style="fill:#35C1D8;" d="M328,438.4c0,4.8-7.2,9.6-12,9.6l0,0c-4.8,0-12-4-12-9.6V260c0-4.8,7.2-9.6,12-9.6l0,0
		c4.8,0,12,4,12,9.6V438.4z"/>
</g>
    <g>
	<path style="fill:#0B8AAD;" d="M181.6,250.4L181.6,250.4c4.8,0,10.4,4,10.4,9.6v178.4c0,4.8-4.8,9.6-9.6,9.6l0,0"/>
      <path style="fill:#0B8AAD;" d="M317.6,250.4L317.6,250.4c4.8,0,10.4,4,10.4,9.6v178.4c0,4.8-4.8,9.6-9.6,9.6l0,0"/>
</g>
    <path style="fill:#35C1D8;" d="M259.2,438.4c0,4.8-7.2,9.6-12,9.6l0,0c-4.8,0-12-4-12-9.6V260c0-4.8,7.2-9.6,12-9.6l0,0
	c4.8,0,12,4,12,9.6V438.4z"/>
    <path style="fill:#0B8AAD;" d="M248.8,250.4L248.8,250.4c4.8,0,10.4,4,10.4,9.6v178.4c0,4.8-4.8,9.6-9.6,9.6l0,0"/>
    <path style="fill:#177199;" d="M102.4,92.8c-0.8,6.4-6.4,12-13.6,11.2l0,0c-6.4-0.8-12-6.4-11.2-13.6L80,67.2
	c0.8-6.4,6.4-12,13.6-11.2l0,0c6.4,0.8,12,6.4,11.2,13.6L102.4,92.8z"/>
    <path style="fill:#66CDDD;" d="M149.6,417.6c0.8,4.8-2.4,10.4-7.2,11.2l0,0c-4.8,0.8-10.4-2.4-11.2-7.2L97.6,255.2
	c-0.8-4.8,2.4-10.4,7.2-11.2l0,0c4.8-0.8,10.4,2.4,11.2,7.2L149.6,417.6z"/>
    <path style="fill:#FFBD66;" d="M96,184c0,4.8-3.2,8-8,8l0,0c-4.8,0-8-3.2-8-8v-16c0-4.8,3.2-8,8-8l0,0c4.8,0,8,3.2,8,8V184z"/>
</svg>
</template>
<script>
export default {
  name: "IconTrash",
};
</script>
