<template>
  <div>
    <el-dialog
        v-model="isVisible"
        width="25%"
        :center="true"
        :before-close="onClose()"
    >
      <div class="flex items-center justify-center flex-col">
        <IconTrash/>
        <h2 class="font-bold text-xl mt-4">{{ title }}</h2>
        <span class="mt-2">Bạn có chắc muốn xóa bài học này không ?</span>
      </div>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="onClose()" size="large">Cancel</el-button>
          <el-button type="danger" @click="onConfirm" size="large">
            Confirm
          </el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import IconTrash from "~/components/Icons/Trash.vue";
export default {
  name: "PopupDelete",
  components: {IconTrash},
  props: {
    title: {
      type: String,
      default: ''
    },
    onConfirm: {
      type: Function,
      default: () => {}
    },
    visible: {
      type: Boolean,
      default: false
    },
  },
  data(){
    return {
      isVisible: false
    }
  },
  watch:{
    visible: {
      handler(value) {
        this.isVisible = value
      },
      immediate: false
    }
  },
  methods: {
    onClose(){
      this.isVisible = false
    }
  }
}
</script>
<style scoped>
</style>