@font-face {
    font-family: 'helvetica';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/font-helvetica/helvetica-neue.ttf') format('truetype');
}
@font-face {
    font-family: 'helvetica';
    font-style: normal;
    font-weight: 600;
    src: url('../../assets/fonts/font-helvetica/helvetica-neue-bold.ttf') format('truetype');
}