<template>
  <el-container class="layout-container-demo">
    <side-bar />
    <el-container>
      <el-header>
        <div class="toolbar w-full bg-white">
          <div class="flex items-center justify-between h-full w-full">
            <div class="flex items-center h-full">
              <div class="mr-4 h-full">
                <el-button
                  @click="state.changeStatusCollapse"
                  text
                  size="large"
                  style="height: 100%"
                >
                  <IconsOpenCollapase
                    class="w-5 h-5 cursor-pointer"
                    :style="[!isCollapse ? 'transform: rotate(180deg)' : '']"
                  />
                </el-button>
              </div>
              <div>
                <slot name="header"></slot>
              </div>
            </div>
            <div class="block mr-4 h-full flex items-center">
              <el-dropdown trigger="click">
                <div class="w-6 h-6 cursor-pointer mr-4">
                  <IconLanguage class="w-full h-full" />
                </div>
                <template #dropdown>
                  <el-dropdown-menu>
                    <nuxt-link :to="switchLocalePath('VN')">
                      <el-dropdown-item>{{ $t("vietnam") }}</el-dropdown-item>
                    </nuxt-link>
                    <nuxt-link :to="switchLocalePath('en-US')">
                      <el-dropdown-item>{{ $t("english") }}</el-dropdown-item>
                    </nuxt-link>
                  </el-dropdown-menu>
                </template>
              </el-dropdown>
              <el-dropdown trigger="click">
                <div class="w-10 h-10 cursor-pointer">
                  <img
                    class="w-full rounded-xl h-full object-center"
                    src="~/assets/images/profile.gif"
                    alt=""
                  />
                </div>
                <template #dropdown>
                  <el-dropdown-menu>
                    <el-dropdown-item>Action 1</el-dropdown-item>
                    <el-dropdown-item>Action 2</el-dropdown-item>
                    <el-dropdown-item>Action 3</el-dropdown-item>
                    <el-dropdown-item>Action 4</el-dropdown-item>
                  </el-dropdown-menu>
                </template>
              </el-dropdown>
            </div>
          </div>
        </div>
      </el-header>
      <el-main>
        <el-scrollbar class="w-full h-full relative bg-[#f2f2f2]">
          <slot></slot>
          <slot name="footer"></slot>
        </el-scrollbar>
      </el-main>
    </el-container>
  </el-container>
</template>
<script lang="ts">
export default {
  name: "Page",
};
</script>
<script lang="ts" setup>
import { useI18n } from "vue-i18n";
import { ref } from "vue";
import {
  Menu as IconMenu,
  Message,
  Setting,
  Expand,
} from "@element-plus/icons-vue";
import IconLanguage from "~/components/Icons/Language.vue";
import { useNavbarStore } from "~/stores/navbar";
import Page from "~/components/Page/index.vue";
const state = useNavbarStore();
const { locale, locales } = useI18n();
console.log("🚀 ~ file: index.vue:88 ~ locales:", locales);
const switchLocalePath = useSwitchLocalePath();
const isCollapse = computed(() => state.isCollapse);
</script>
<style scoped>
.layout-container-demo {
  height: 100vh;
}
.layout-container-demo .el-header {
  position: relative;
  color: var(--el-text-color-primary);
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  max-height: 50px;
  padding: 0;
}
.layout-container-demo .el-aside {
  color: var(--el-text-color-primary);
  background: var(--el-color-primary-light-8);
}
.layout-container-demo .el-menu {
  border-right: none;
}
.layout-container-demo .el-main {
  padding: 0;
}
.layout-container-demo .toolbar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 20px;
}
::v-deep .el-menu--popup {
  background-color: #304156;
}
</style>
