<template>
  <div class="p-2 z-10 w-full block absolute bottom-0 left-0 right-0 h-[50px] shadow-custom bg-white">
    <slot></slot>
  </div>
</template>
<script>
export default {
  name: "Footer"
}
</script>
<style scoped>
.shadow-custom {
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}
</style>