<template>
  <Page>
    <template #header>
      <Header :routes="routes"></Header>
    </template>
    <template #footer>
      <Footer>
        <Pagination
            :pagination="paginate"
            :change="handleChange"
            :size-change="sizeChange"
        />
      </Footer>
    </template>
    <div class="p-4">
      <NuxtLink to="/contact" class="n-link-base">
          Contact
        </NuxtLink>
        <h1>{{ $t('vietnam') }}</h1>
      <el-table
          :data="tableData"
          border
          style="width: 100%"
          @selection-change="handleSelectionChange"
          :row-key="id"
          v-loading="loading"
      >
        <el-table-column type="selection" width="40" />
        <el-table-column prop="date" label="Date" width="180" />
        <el-table-column prop="name" label="Name" width="180" />
        <el-table-column prop="address" label="Address" />
        <el-table-column prop="action" label="Hành động" width="120" align="center" >
          <template #default="scope">
            <el-dropdown trigger="click">
            <el-icon class="border-0 outline-0" size="20" color="#409eff"><Operation /></el-icon>
              <template #dropdown>
                <el-dropdown-menu>
                  <el-dropdown-item>
                    <el-icon color="red"><Delete /></el-icon>
                    Xóa bản ghi
                  </el-dropdown-item>
                  <el-dropdown-item>
                    <el-icon color=""><Edit /></el-icon>
                    Sửa bản ghi
                  </el-dropdown-item>
                </el-dropdown-menu>
              </template>
            </el-dropdown>
          </template>
        </el-table-column>
      </el-table>
      <popup-delete
          ref="popupDelete"
          :visible="visible"
          :on-confirm="onConfirm"
          title="Xóa khóa học"
      />
    </div>
  </Page>
</template>
<script>
import { Operation, Delete, Edit } from '@element-plus/icons-vue'
export default {
  components: {
    Operation,
    Delete,
    Edit
  },
  data(){
    return {
      visible: false,
      routes: [
        {
          path: '/',
          breadcrumb: "Home"
        },
        {
          path: '/contact',
          breadcrumb: "Contact"
        }
      ],
      paginate: {
        page: 10,
        total: 100,
        current: 2
      },
      tableData : [
        {
          id: 1,
          date: '2016-05-03',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          id: 2,
          date: '2016-05-02',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          id: 3,
          date: '2016-05-04',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          id: 4,
          date: '2016-05-01',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          id: 5,
          date: '2016-05-03',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          id: 6,
          date: '2016-05-02',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          id: 7,
          date: '2016-05-04',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          id: 8,
          date: '2016-05-01',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          id: 9,
          date: '2016-05-04',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          id: 10,
          date: '2016-05-01',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
      ],
      loading: true
    }
  },
  methods: {
    handleChange(value){
      console.log("=>(index.vue:23) value", value);
    },
    sizeChange(value) {
      this.paginate.page = value
    },
    onClose() {
      this.visible = false
    },
    onConfirm() {
      console.log("bac")
    },
    openModal() {
      this.$nextTick(()=> {
        this.visible = true
      })
    },
    handleSelectionChange(row){
      console.log("=>(index.vue:99) row", row);

    },
    async getAllLesson(){
      try {
        const result = await this.$repositories.lesson.all()
        console.log("🚀 ~ file: index.vue:176 ~ getAllLesson ~ result:", result)
      } catch (error) {
        this.$toastBug(error)
      }
    }
  },
  mounted() {
    this.getAllLesson()
    setTimeout(()=> {
      this.loading = false
    },1000)
  }
}
</script>
<style lang="scss">
</style>
